/* CSS Normalization */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  color: white;
  
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  background-color: darkslategray;
}

@media (max-width: 600px) {
  body {
    background-color: lightslategray;
    text-align: center;
  }
  h1 {
    font-size: 55px;
  }
}
@media (max-height: 300px) {
  body {
    background-color: lightskyblue;
  }
}

.btn {
  border: 3px solid white;
}
